<head>
  <%= stylesheet_link_tag 'reset', :media => "all" %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
<%= render "shared/header" %>
  <div class='list-screen'>
    <div class='list-items'>
      <div class='list-left'>
        <% @lists.each do |list| %>
          <div class='image'>
            <%= image_tag list.recipe.image, class: "list-recipe-img" %>
            <div class='delete-recipe-btn' id="delete-to-list-<%= list.recipe.id %>" style="cursor:pointer;">
              <span class='delete-recipe--btn-text'>×</span>
            </div>
          </div>
        <% end %>
      </div>
      <div class='list-right'>
        <% grouped_foods = @recipes.flat_map(&:foods).group_by { |food| [food.name, food.unit] } %>

        <% grouped_foods.each do |(name, unit), foods| %>
          <p>
            <%= name %>:
            <%= foods.sum { |food| food.amount.to_i } %>
            <%= unit %>
            <button class="detail-btn" data-recipe-ids="<%= foods.map(&:recipe).map(&:id).join(",") %>">!</button>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div id="recipeModal" class="modal-fade" tabindex="-1" role="dialog">
  <div class="modal">
    <div class="modal-inner">
      <div class="modal__button-wrap">
        <button class="close-button js-close-button">
        <span></span>
        <span></span>
        </button>
      </div>
      <div class="modal-contents">
        <div class="modal-body">
          <!-- Recipe details will be inserted here -->
            <div class="modal-details">
              <!-- Images and recipe names will be inserted here -->
            </div>
            <div class="modal-ingredients">
              <!-- Ingredients will be inserted here -->
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <%= render "shared/footer" %>
</body>