<head>
  <%= stylesheet_link_tag 'reset', :media => "all" %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<%= render "shared/header" %>
<div class='new-recipes-screen'>
  <h2 class="new-recipes-title">料理の情報を入力</h2>
    <%= form_with model: @recipe_food, url: recipe_path(@recipe_food), local: true do |f| %>
      <%= render 'shared/error_messages', model: @recipe_food %>
    <div class='new-recipes-main'>

      <div class='new-left-contents'>
        <div class="new-img-upload">
          <div class="new-weight-bold-text">
            料理画像
            <span class="new-indispensable">必須</span>
          </div>
          <div class="new-click-upload">
            <h2 class="new-upload-text">
              クリックしてファイルをアップロード
            </h2>
            <%= f.file_field :image, id:"recipe-image" %>
            <%= image_tag url_for(@recipe_food.image), class: 'recipe-img' %>
          </div>
        </div>
      </div>

      <div class='new-right-contents'>
        <div class="new-recipes">

          <div class="new-form">
            <div class="new-weight-bold-text">
              料理名
              <span class="new-indispensable">必須</span>
            </div>
            <%= f.text_field :name, value: @recipe_food.name  %>
            <div class="new-weight-bold-text">
              カテゴリー
              <span class="new-indispensable">必須</span>
            </div>
              <%= f.collection_select(:category_id, Category.all, :id, :name, {selected: @recipe_food.category_id}, {class:"new-select-box", id:"recipe-category"}) %>
            <div class="new-weight-bold-text">
              構成
              <span class="new-indispensable">必須</span>
            </div>
              <%= f.collection_select(:kondate_id, Kondate.all, :id, :name, {selected: @recipe_food.kondate_id}, {class:"new-select-box", id:"recipe-sales-status"}) %>

            <div class="new-weight-bold-text">
              材料
              <span class="new-indispensable">必須</span>
            </div>
              <%= f.text_field :people, value: @recipe_food.people, id:"food-people", placeholder:"例：何人前", maxlength:"15" %>
              <% @recipe_food.foods.each do |food| %>
              <div class='new-forms'>
              <%= f.text_field :name, name: 'foods[][name]', value: food.name, id:"food-name", placeholder:"例：にんじん", maxlength:"15" %>
              <%= f.text_field :amount, name: 'foods[][amount]', value: food.amount, class:"new-amount-text", id:"food-amount", placeholder:"例：２", maxlength:"15" %>
              <%= f.text_field :unit, name: 'foods[][unit]', value: food.unit, class:"new-unit-text", id:"food-unit", placeholder:"例：本", maxlength:"15" %>
            </div>
            <% end %>
            <div class='new-forms'>
              <%= f.text_field :name, name: 'foods[][name]', value: '', id:"food-name", placeholder:"例：にんじん", maxlength:"15" %>
              <%= f.text_field :amount, name: 'foods[][amount]', value: '', class:"new-amount-text", id:"food-amount", placeholder:"例：２", maxlength:"15" %>
              <%= f.text_field :unit, name: 'foods[][unit]', value: '', class:"new-unit-text", id:"food-unit", placeholder:"例：本", maxlength:"15" %>
            </div>
          </div>
        </div>
      </div>

    </div>
        <div class="new-btn-contents">
        <div class="new-btn-contain">
          <div class="new-add">
            <button id='add' type='button' style='display: none;'>forms追加</button>
            <%= f.submit "保存する", class:"new-btn" %>
          </div>
          <div class='new-back'>
            <%= link_to 'もどる', recipes_path, class:'new-back-btn' %>
          </div>
          </div>
        </div>
    <% end %>
</div>
<%= render "shared/footer" %>
</body>