<head>
# <%= stylesheet_link_tag 'recipes/show', :media => "all", 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'reset', :media => "all", 'data-turbolinks-track': 'reload' %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<%= render "shared/header" %>
  <div class='show-recipe-screen'>
    <div class='show-recipe-items'>
      <div class='show-left-items'>
        <%= image_tag @recipe_food.image, class: "show-recipe-img" %>
        <div class='show-recipe-name'>
        <%= @recipe_food.name %>
        </div>
      </div>
      <div class='show-right-items'>
      <div class='show-categories'>
      <div class='show-text'>カテゴリー: <%= @recipe_food.category.name %></div>
      <div class='show-text'>構成: <%= @recipe_food.kondate.name %></div>
      <p class="show-food">材料</p>
      <p class="show-recipe-people"><%= @recipe_food.people %></p> 
      <% @recipe_food.foods.each do |food| %>
        <div class="show-food-item">
          <span class="show-food-name"><%= food.name %></span>
          <span class="show-food-amount-unit"><%= food.amount %> <%= food.unit%></span>
        </div>
      <% end %>
      </div>
    </div>
    </div>
  </div>
  <div class='show-recipe-btns'>
  <% if user_signed_in? %>
    <%= link_to edit_recipe_path(@recipe_food), class: 'show-edit-recipe-btn' do %>
      <span class='show-edit-recipe--btn-text'>編集する</span>
    <% end %>
    <%= link_to recipe_path(@recipe_food), data: {turbo_method: :delete}, class: 'show-destroy-recipe-btn' do %>
      <span class='show-destroy-recipe--btn-text'>削除する</span>
    <% end %>
  <% end %>

  <div class='show-addlist-recipe-btn' id="add-to-list-<%= @recipe_food.id %>" style="cursor:pointer;" data-logged-in="<%= user_signed_in? %>">
        <span class='show-addlist-recipe--btn-text'>リストに<br>追加する</span>
      </div>
  </div>
  <%= render "shared/footer" %>
</body>