<%= stylesheet_link_tag 'shared/header', :media => "all", 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'header' %>


<header class='header'>
  <%= link_to 'Cook-phelia', root_path , class: "header-title" %>
  <div class='user'>
    <ul class='user-nav'>
      <li class='header-nav-btn' id="lists">
      <img src="/assets/user.jpg" height="70" width="70" class="user-btn" alt="User">
      </li>
    </ul>
    <ul class="header-show-lists hidden" id="pull-down">
      <li class="header-pull-down-list">編集</li>
      <li class="header-pull-down-list">ログアウト</li>
    </ul>
  </div>
  <div class='header-screen'>
    <h2 class='screen-title'>
    マイレシピ
    </h2>
  </div>
  <div class='nav'>
    <ul class='lists-bar'>
      <li class="header-lists-btn" id="btn">
      ≡
      </li>
    </ul>
    <ul class="header-show-lists hidden" id="down-lists">
      <li class="header-list-down" id="search-btn">
      カテゴリー検索
      </li>
      <li class="header-list-down">
      <%= link_to '買い物リスト', lists_path, class: 'header-path' %>
      </li>
    </ul>
    <ul class="header-search-hidden">
    <%= form_with url: '/recipes/search', method: :get, html: { class: "form-items" } do %>
      <li class="form-item">
          <%= select_tag 'category', options_for_select(Category.data.map { |c| [c[:name], c[:id]] }), class: "select-input" %>
      </li>
      <li class="form-item">
          <%= select_tag 'kondate', options_for_select(Kondate.data.map { |k| [k[:name], k[:id]] }), class: "select-input" %>
      </li>
      <li class="form-item">
          <%= submit_tag '検索', class: "submit-input" %>
      </li>
    <% end %>
    </ul>
  </div>
</header>